@font-face {
    font-family: 'Comfortaa-Bold';
    src: url(../font/Comfortaa-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Comfortaa-Regular';
    src: url(../font/Comfortaa-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../font/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../font/Montserrat-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(../font/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../font/Roboto-Regular.ttf);
    font-weight: 400;
}
